* { 
  box-sizing: border-box; 
}
body {
  text-align: center;
  position: relative;
}
h1 { 
  font-family: Verdana, serif;
  text-transform: uppercase; 
  cursor: pointer;
}
.branch {
  display:inline-block;
  width:150px;
  vertical-align: bottom;
  height:100%;
}
.branch h2 {
  margin: 20px 0 0;
  padding: 3px;
  background-color: rgba(155,155,155,0.7);
  border: 2px solid #666;
  border-radius: 5px;
}
ol li {
  border: 2px dashed grey;
  background-color: pink;
  width:75px;
  height:75px;
  line-height:75px;
  vertical-align: middle;
  text-align:center;
  border-radius:50%;
  position:relative;
  cursor:pointer;
}
#master ol li{
  background-color: lightgreen;
}
/* ref: http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/;
*/
.branch li:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: #fff;
    content: attr(data-title);
    padding: 5px 15px;
    position: absolute;
    width: 250px;
    z-index:1;
}

